# ignore project related folders
source/
llm/
index/


# Ignore unnecessary files to speed up build context
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
.vscode/
*.swp
*.swo
*~
.idea/
.venv/
index/
source/
cache/
llm/
